"*":
  "atom-beautify":
    arduino:
      beautify_on_save: true
      configPath: "~/src/air.nodemcu.full/helpers/.uncrustify.cfg"
    c:
      beautify_on_save: true
      configPath: "~/src/air.nodemcu.full/helpers/.uncrustify.cfg"
    cpp:
      beautify_on_save: true
      configPath: "~/src/air.nodemcu.full/helpers/.uncrustify.cfg"
    general:
      _analyticsUserId: ""
      analytics: false
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "a49dae0c-3e71-ea70-6d4d-4595c2180974"
  "platformio-ide":
    showHomeScreen: false
  "platformio-ide-terminal":
    core:
      autoRunCommand: "export PATH=~/.atom/packages/platformio-ide/penv/bin:/opt/local/bin:/opt/local/sbin:/opt/local/bin:/opt/local/sbin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/X11/bin:~/src/scripts"
  "tool-bar":
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
